.button {
  margin: 10px 0;
}

%box-a {
  height: 50px;
  transition: all 700ms 0s ease;
}

.box-a-red {
  @extend %box-a;
  width: 20px;
  background: red;
}

.box-a-green {
  @extend %box-a;
  width: 300px;
  background: greenyellow;
}
