.button {
  margin: 10px 0;
}

%animation-a {
  height: 50px;
  transition: all 700ms 0s ease;
}

.animation-a-red {
  @extend %animation-a;
  width: 20px;
  background: red;
}

.animation-a-green {
  @extend %animation-a;
  width: 300px;
  background: greenyellow;
}
